*{
    margin: 0;
    padding: 0;
}
html,body{
	height:100%;
}

@font-face {
    font-family: font;
    src: url(Quicksand-Regular.ttf);
}
#root{
	height: 100%;
}
main{
    width:80%;
    height:90%;
    justify-content:center;
    align-items: center;
    float: left;
	margin-left:20%;
	margin-top:61px;
	
}
a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    
}

 
@media (max-width:768px) {

    main{
        width: 100%;
		margin-left:0;
    }
	

}
