#login_container{
	width: 100%;
	display:flex;
	height:100%;
	justify-content:center;
	align-items:center;
	background: #735a73;
}

.flex{
	display:flex;
}

.form-signin {
	width:400px;
	background-color:#fff;
	height:300px;
	flex-direction:column;
	justify-content:center;
	align-items:center;	
  
}

.form-signin-heading{
	margin:0 0 20px 0;
	color:grey;
	width:70%;
	text-align:left;
	font-size:2em;
}

.form-control {
	margin-bottom:15px;
	width:70%;
	font-size: 16px;
	padding:15px;
	box-sizing:border-box; 
}

.btn {
	 padding:15px;
	 width:70%;
	 font-size: 18px;
	 margin-bottom:20px;
     color: #fff;
     background-color: #513654;
     border-color: grey;
	 border: 0px solid transparent;
	 border-radius: .1rem;
	 transition: .5s;
	 cursor:pointer;
}

.btn:hover{
	 background-color: #735a73; 
}

@media screen and (max-width:768px){
	.form-signin {
		width:350px;
	}
}

@media screen and (max-width:480px){
	.form-signin {
		width:80%;
	}
}
