.Block{
	float: left;
}
table {
    width: 100%;
    margin: 0px auto;
    border: solid 2px #504b4b;
    border-collapse: collapse;
	 border-bottom: 0;
	 
}

table td{
	border:solid 2px #504b4b;
	border-collapse: collapse;
	text-align: left;
	padding-left: 5px;
	
}
table th{
	border:solid 2px #504b4b;
	border-collapse: collapse;
	text-align: left;
	padding-left: 5px;
	
}