.UserTable {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    color: #513654;
    box-sizing: border-box;
	padding:25px;
	overflow:hidden;
}
#scroll{
  height:90%;
  width:100%;
	overflow: auto;
}

.table {
    width: 100%;
    margin: 0px auto;
    border: solid 0 transparent;
    border-collapse: collapse;
	border-bottom: 0;

}

.table td{
	text-align: left;
	padding-left: 5px;
  border: solid 0 transparent;

}

#checkbox{
	text-align: center;
}
.table th{
	text-align: left;
  border:none;


}
.tableheader{
	width: 100%;
	text-align: center;
	color: white;
}
.addtablerow{
	width: 100%;
}
.editbutton{
	cursor:pointer;
	color:#fff;
	outline: none;
}

#sendBtn{
  background-color:#735a73;
	cursor:pointer;
}

#deleteBtn{
	background-color:#ff5353;
	cursor:pointer;
}
.savebutton{
	border-radius: 5px;
	background: blue;
	color:white;
	margin: 10px 10px;
}

#sendBtn:disabled{
 background: #dddddd;
 color:#735a73;
}

#deleteBtn:disabled{
  background: #dddddd;
  color:#735a73;
}


#theader{
	height: 30px;
    color: #666467;
    text-align: center;
    font-size: 2.5em;
    padding: 10px;
}

.openWindow{
	height:100%;
	width:100%;
	top: 0;
	left: 0;
	display:flex;
	position:absolute;
	justify-content: center;
	align-items: center;
}

.buttonsCont{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.addInput{

  padding: 7px;
  margin: 5px;
  border-radius:1px solid grey;
}

.addBtn{
	width:90px;
	padding:7px;
	border: none;
	border-radius: 1px;
	cursor:pointer;
  color:#fff;
  background-color: #735a73;
  transition: background-color 0.5s ease;
}
#btnEdit{

  margin-right:37%;
}
.addBtn:hover{
  background-color:#60c5bb;
}
.closeWindow{
	display:none;
}
#flexEdit{
  flex-direction: column;
display:flex;
justify-content: space-around;
align-content: space-around;

}
.formContainer{
  position: fixed;
	min-width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 0 10px 0;
  z-index: 99;
  border: 1px solid #fff;
  background-color: rgba(0,0,0,0.23);
}
#flexEdit input{
display:inline-flex;
  padding: 5px;
  border-radius:1px solid grey;
  width:100%;
}

.formContainer p{

}
.uploadContainer{
	padding:50px;
	display: flex;
	flex-direction:column;
}

.uploadButtonsCont{
	display:flex;
	margin-top:10px;
	justify-content:space-between;
}


.uploadButtons{
	width:65px;
	padding:7px;
	border: none;
	border-radius: 2px;
	cursor:pointer;
}



.AddRow{
	display:inline-flex;
	flex-direction: column;
    margin-top: 10px;
}

.btn_table{
	padding: 10px;
    color: #fff;
    background-color: #009688;
    border-radius: .1rem;
	border: 0px solid transparent;
    transition: .5s;
    cursor: pointer;
	box-shadow: 0 0px 0px 0 rgba(56,38,0,1);
}

.btnBox{
  display: flex;
}

.tableButtons{
	height: 37px;
	border: 1px solid #735a73;
	padding: 0 10px;
  background-color: #735a73;
	margin:15px 10px 10px 10px;
	font-size: 1em;
}

#templateSelectBox{
    display: flex;
    align-items: center;
}

.edit{
  display: flex;
justify-content: center;
border: none;
}

.btn_table:hover{
	 background-color: #735a73;
}

.send_mail{
	padding: 6px;
	color: #fff;
    background-color: #009688;
    border-radius: .1rem;
	border: 0px solid transparent;
    transition: .5s;
    cursor: pointer;
	box-shadow: 0 0px 0px 0 rgba(56,38,0,1);
}

.send_mail:hover{
	 background-color: #735a73;
}




	@media (max-width:866px) {

	.UserTable{
		width:100%;
	}

}
@media (max-width:468px) {
#theader{
	height: 30px;
    color: #666467;
    text-align: center;
    font-size: 1.5em;

}


}
