.buttonsCont{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.savebutton{  /* Edit section*/
	border-radius: 5px;
	background: blue;
	color:white;
	margin: 10px 10px;
}
#templateSelectBox {
	display: flex;
	align-items: center;
}

.glyphicon{
	color:#735a73;
	font-size: 1.7em;
}

.addBtn{ /*Add Contact buttons*/
	width:90px;
	padding:7px;
	border: none;
	border-radius: 1px;
	cursor:pointer;
	color:#fff;
	background-color: #735a73;
	transition: background-color 0.5s ease;
	margin-top:10px;
}

.addBtn:hover{  /*Edit contact row edit button*/
	background-color:#60c5bb;
}

.back{
	margin-left:20px;
}
/*Edit contact row edit button*/

.saveBtn{
	margin-right:37%;
}

.tableButtons{
	box-sizing:border-box;
	height:auto;
	color: #735a73;
	padding: 0 10px;
	margin-left:5px;
	background-color:transparent;
	border:0;
}
.tableButtons:disabled {
	color: lightgrey;
	border: 0;
	background-color: transparent;
}

.UserTable {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    color: #513654;
    box-sizing: border-box;
    padding:25px;
}

#scroll{
    height:85%;
    width:100%;
    overflow: auto;
}

.table {
    width: 100%;
    margin: 0 auto;
    border: solid 0 transparent;
    border-collapse: collapse;
    border-bottom: 0;
}

.table td{
    text-align: left;
    padding-left: 5px;
    border: solid 0 transparent;
}

.table th{
	text-align: left;
  	border:none;
}

#checkbox{
	text-align: center;
}

.tableheader{
	width: 100%;
	text-align: center;
	color: white;
}

.addtablerow{
	width: 100%;
}

.editbutton{
	cursor:pointer;
	color:#fff;
	outline: none;
}

#theader{
	height: 30px;
        color: #666467;
        text-align: center;
        font-size: 2.5em;
        padding: 10px;
}

.openWindow{
	height:100%;
	width:100%;
	top: 0;
	left: 0;
	display:flex;
	position:absolute;
	justify-content: center;
	align-items: center;
}

.addInput{
	padding: 7px;
	margin: 5px;
}

.closeWindow{
	display:none;
}
#flexEdit{
  	flex-direction: column;
	display:flex;
	justify-content: space-around;
	align-content: space-around;
}

.formContainerUpload {
	background-color: #bbb0bd;
}

.formContainer{
	margin:0 auto;
  	position: relative;
	z-index: 99;
	width:400px;
	min-width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15px 0 15px 0;
  	border: 1px solid #fff;
  	background-color: rgba(0,0,0,0.23);
}

#flexEdit input{
	display:inline-flex;
  	padding: 5px;
  	width:100%;
}

.uploadContainer{
	padding:50px;
	display: flex;
	flex-direction:column;
	position: relative;
	z-index: 99;
}

.uploadButtonsCont{
	display:flex;
	margin-top:10px;
	justify-content:space-between;
}

.addToExisting{
	display:flex;
	flex-direction: column;
	margin-top: 10px;
}

.inputMail{
	padding-left:5px;
}

.maillist{
	margin-top:13px;
	display: inline-flex;
	padding: 5px;
	height: 40px;
	border-radius: 5px;
}

.uploadButtons{
	width:65px;
	padding:7px;
	border: none;
	border-radius: 2px;
	cursor:pointer;
	color:#fff;
}

.selectPopup{
	width:100%;
	display:inline-flex;
	flex-direction: column;
	margin-top: 10px;
}

.AddRow{
	box-sizing:border-box;
	padding:5px;
	width:70%;
	display:inline-flex;
	flex-direction: column;
        justify-content:center;
	align-items:center;
}

.AddRow1{
	width:100%;
	display:inline-flex;
	flex-direction: column;
	margin-top: 10px;
}

.btnBox{
        padding-bottom: 1%;
        padding-top: 4%;
        display: flex;
        box-sizing: border-box;
}

.responseContainer{
	height: 140px;
	width:90%;
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: #735a73;
}

.responseWindow{
	height:100%;
	width: 100%;
	background-color: #60c5bb;
}

.edit{
	display: flex;
	justify-content: center;
	border: none;
}

.windowText{
	text-align: center;
	color:azure;
	font-size:1.3em;
}

select{
	padding:5px;
	background-color: #efefef;
}


@media screen and (max-width:768px){

	.btnBox{
		flex-wrap: wrap;
		flex-direction:column;
		
	}

	#templateSelectBox{
		flex-direction: column;
	}

	.maillist{
		justify-content:center;
	}
	.glyphicon{
		z-index:-1;
	}
	.change{
		z-index:0;
	}
	
}


